/**
 * @name Discord Revamp
 * @version 1.0
 * @description A revamped discord based on discord's current website.
 * @source https://github.com/hellbound1337/discord-revamp
 * @authorId 426147523305144322
 * @author hellbound
 * @donate https://paypal.me/zzzmario
 * @invite pCc7q4Z
**/

@import url(https://raw.githack.com/hellbound1337/dark-discord/master/src/source.css);

.theme-dark,
.theme-light,
:root {
    --background-primary: #292841 !important;
    --background-secondary: #242338 !important;
    --background-secondary-alt: #3c3a5e !important;
    --background-tertiary: #1c1b29 !important;
    --background-accent: #413f66 !important;
    --background-floating: #15141e !important;
    --offline-color: #444444 !important;
}
